* {
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container {
    display: flex;   
    flex-direction: column;
    gap: 20px;
    background: rgb(214, 214, 214);
    width: 400px;
    justify-content: center;
    align-items: baseline;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
}

#display {
    height: 60px;
    border-radius: 5px;
    width: 95%;
    text-align: end;
    padding-top: 10px;
    padding-right: 10px;
    font-size: 30px;
    background: white;
}

.row {
    display: flex;
    gap: 30px;
    width: 95%;
    margin-left: 10px;
}

button {
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    background: inherit;
    padding: 10px;
    text-align: center;
}

.row > button {
    flex: 1;
}

#clear {
    flex: 5.5;
}